
InventoryControlConsole/.vs/InventoryControlConsole/v16/.suo
InventoryControlConsole/InventoryControlConsole/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
InventoryControlConsole/InventoryControlConsole/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csproj.CoreCompileInputs.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csproj.FileListAbsolute.txt
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.csprojAssemblyReference.cache
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.exe
InventoryControlConsole/InventoryControlConsole/obj/Debug/InventoryControlConsole.pdb
